@import "reset.css";

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --color-primary-light: #fff;
  --color-primary-gray: #858585;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #4b4756;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  padding: 40px 15px 50px;
  background: radial-gradient(
    780px at 37.8% 100.3%,
    rgb(19, 55, 115) 2.2%,
    rgb(32, 7, 80) 20.2%,
    rgb(27, 88, 111) 58.6%,
    rgb(115, 88, 44) 75%,
    rgb(99, 19, 90) 89.6%,
    rgb(12, 51, 76) 96.1%
  );
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: wheat;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 40px;
  background-color: rgb(200, 201, 222);
  border-radius: 0 8px 8px 0;
}

.search-city {
  flex-grow: 1;
  padding: 10px 15px;
  font-weight: 300;
  font-size: 18px;
  color: dimgray;
}

.search-btn {
  width: 144px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: whitesmoke;
  background-color: rgb(98, 137, 176);
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background: rgb(51, 94, 138);
}

a {
  color: #885df1;
}

.weather-backdrop {
  background-image: url(/images/backdrop.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  max-width: 70%;
  margin: 0 auto;
  padding: 10px 15px;
}

.weather-app {
  background: rgb(0, 0, 0, 0.6);
  opacity: 75%;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.665);
  border-radius: 10px;
  padding: 10px 15px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: var(--color-primary-light);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  color: var(--color-primary-light);
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
}

.weather-forecast-date {
  text-align: center;
  color: var(--color-primary-light);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 32px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: var(--color-primary-light);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature span {
  color: var(--color-primary-gray);
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
